<header class="header">
  <h1 class="title">{{title}}</h1>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home Page</a></li>
      <li class="navigation-list-item"><a routerLink="/view" routerLinkActive="active">Create Recipe</a></li>
    </ul>
  </nav>
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openDialog()">home</mat-icon>
</header>
